#video-wrapper {

  position: relative;
  overflow-x: hidden;
  /*border:1px solid;*/
  /*background-color: #fff;*/
  height: 45vh;
  width: 610px;
  /* background-position: top; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(1px 3px 5px rgb(244, 128, 165));


}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  
}


#video-wrapper div:nth-child(2) {
  width: 334px;
  height: 334px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  position: absolute;
  top: 10%;
  border-radius: 50%;
  left: 24%;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;

}

video {
  display: block;
  /*border:1px solid;*/
  width: 270px;
  height: 270px !important;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 0;
  object-fit: cover;
  aspect-ratio: 1/1;
  aspect-ratio: 1/1;
  transition: opacity 0.4s ease-in-out 0s;

}

.video-playing {
  opacity: 1;
}

.video-paused {
  opacity: 0;
}