.chat-main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);

  .left {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex: 20%;
    padding: 10px 0px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    color: white;
  }

  .right {
    flex: 80%;
    display: flex;
  }
}

.left-nav-bar {
  margin-top: 4%;
}

.nav-button {
  padding: auto;
  margin-top: 10px;
}
