.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: 30px;
    margin-right: 30px;
    .left {
        flex: 40%;
        padding: 15px 0px;
        border-radius: 12px;
    }
    .right {
        flex: 80%;
    }
}

.nav-button {
    padding: auto;
    margin-top: 10px;
}